{% extends "accounts/base.html" %}
{% block title %}ホーム{% endblock %}

{% block content %}
  <div class="container">
    <h1>ホーム</h1>
    {% for tweet in tweet_list%}
    <div class="card">
      <b class="card-header">{{ tweet.user }}</b>
      <div class="card-body">
          <p class="card-text">{{ tweet.content }}</p>
      </div>
      <div class="card-footer text-muted">
          {{ tweet.created_at }}
          <span><a href="{% url 'tweet:detail' pk=tweet.pk %}">詳細</a></span>
      </div>
    </div>
      
    {% endfor %}
    <p>
      <a href="{% url 'tweet:create' %}">ツイート作成</a>
    <p/>

    <a href="{% url 'accounts:logout' %}">ログアウト</a>
  </div>
{% endblock %}
